img{
    width: 300px;
    height: 300px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: beige;
}

ul{
    background-color: black;
    color: white;
    width: 100px;
}